@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-weight: bold;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./assets/bg.jpg');
}

h1 {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  background: -webkit-linear-gradient(
    45deg,
    rgb(252, 255, 96) 0%,
    rgb(223, 89, 0) 75%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #2424240e;
}

.wrapper-input {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 60px;
  position: relative;
  background-color: #2424241a;
}

.type-cc {
  width: 50px;
  position: absolute;
  top: 8px;
  left: 70px;
}

.input-validate {
  width: 400px;
  height: 50px;
  padding: 0.5rem;
  text-align: center;
  font-size: 22px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  background-color: #0000008c;
}

.isvalid {
  width: 40px;
  position: absolute;
  top: 8px;
  right: 70px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
